<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <form method="post" action="/signup/check">
        <label>First Name</label>
        <br>
        <input name="FirstName" type="text" value="{{.SignupForm.FirstName}}">
        <br>
        <p>{{.Errors.FirstName}}</p>
        <br>
        <label>Last Name</label>
        <br>
        <input name="LastName" type="text" value="{{.SignupForm.LastName}}">
        <br>
        <p>{{.Errors.LastName}}</p>
        <br>
        <label>Email</label>
        <br>
        <input name="Email" type="email" value="{{.SignupForm.Email}}">
        <br>
        <p>{{.Errors.Email}}</p>
        <br>
        <label>Username</label>
        <br>
        <input name="Username" type="text" value="{{.SignupForm.Username}}">
        <br>
        <p>{{.Errors.Username}}</p>
        <br>
        <label>Password</label>
        <br>
        <input name="Password" type="password" value="">
        <br>
        <p>{{.Errors.Password}}</p>
        <br>
        <label>Confirm Password</label>
        <br>
        <input name="ConfirmPassword" type="password" value="">
        <br>
        <p>{{.Errors.Password}}</p>
        <br>
        <button type="submit">Signup</button>
    </form>
</body>
</html>